 {{!-- MODAL MESSAGE--}}
 <div class="modal fade" id="send-message-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="usr">Recipient:</label>
            <input type="text" class="form-control" id="select-to">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="col-sm-6">
          <p id="erorrs-modal">Error</p>
        </div>
        <div class="col-sm-6">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-send" id="btn-send-message-users">Send message</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- END MODAL MESSAGE --}}
{{!-- MODAL READ MESSAGE --}}

<div class="modal fade" id="read-message-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Message <span id="message-from" > </span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="usr" id="label-message-modal">From:</label>
            <input type="text" class="form-control" id="send-from" disabled="true">
          </div>
          <div class="form-group">
            <label for="usr">Time:</label>
            <input type="text" class="form-control" id="send-from-time" disabled="true">
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Message:</label>
            <textarea class="form-control" id="read-message-text" disabled="true"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- MODAL END MESSAGE --}}
<script type="text/javascript" src="./javascripts/modal.js"></script>
